/*=============================*/
/*===== Main Elements==========*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /* Padding top for navbar*/
  margin-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Biryani', sans-serif !important;
  letter-spacing: 2px;
}

 .main {
  padding: 0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.main .page-header {
  margin-top: 0;
}


.jumbotron{
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 0 !important;
  /*Trying to stop text overflowing*/
  overflow: auto;
}

/* Centralises text horizontally */
.centralised-text{
  text-align:center;
  margin-left: 0;
}

.jumbotron .info-text{
  font-size: 90%;
  padding-top: 10px;
}

#no-margin-container{
  margin-left: 0;
  margin-right: 0;
}

/*
 * Global add-ons
 */

 .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*=============================*/
/*===== Navbar ================*/

.nav-social{
  float: left;
  padding:8px;
  margin:0px !important;
}

.nav-social img{
  width: 30px;
  height: 30px;
}

.navbar{
  background-color: grey;
 /*background-color: #222930;*/
}
/* Navbar links */
.navbar .nav > li > a {
    color: #E9E9E9;
    font-size: 90%;
}

.navbar .navbar-brand {
   color: #E9E9E9;
}

.navbar .navbar-brand:hover {
  color: lightblue;
}

.navbar .nav > li > a:hover {
    color: lightblue;
}

/*Hide default border to remove 1px line */
 .navbar-fixed-top {
  border: 0;
}
/*Manage section saying recent journeys*/
#navbar-recent{
  display: none;
}
@media (min-width: 768px) {
  #navbar-recent {
    display: block;
    padding: 20px;
    background-color: #f5f5f5;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    color: grey;
  }
}

/*=============================*/
/*===== Footer ================*/

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: grey;
}

#footer-logo{
  margin-top: 15px;
  width: 100px;
  float: right;
}

#footer-container{
  margin-right: 10px;
}

#footer-text{
  margin-top: 17px;
  color: lightgrey;
  float: right;
  font-size: 80%;
  text-align: right;
  padding-right: 20px;

}

#footer-text >a{
color: lightgrey;
}

/*=============================*/
/*===== Sidebar ===============*/

 /* Hide for mobile, show later */
 .sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: grey;
  margin-bottom: 0;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*Change colour of sidebar on hover or click*/
.nav>li>a:focus,
.nav>li>a:hover{
  background-color: lightgrey;
}

/*styling divider lines between entries*/
.nav-sidebar > hr{
  margin: 0;
  margin-bottom: 10px;
  background-color: lightgrey;
  height: 1px;
}

#sidebar-twitter-header{
  height:30px;
  color: grey;
}

#sidebar-facebook-header{
  height:40px;
  padding-top: 10px;
  color: grey;
}

.social-holder{
  padding: 10px;
}

/*resize faecbook plugin dynamically*/
/*.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}*/

/*==================================*/
/*==========Visualisations==========*/

/*date button*/
/*#date-select{
  font-size: 90%;
  margin-bottom: 10px;
}*/

/*text in the dropdown*/
.dropdown-menu > li > a{
 font-size: 90%;
}

.pill-holder{
  margin: 30px 30px 0px 30px;
/*  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;*/
  padding: 20px 20px 0px 20px;

  background-color: #F5F5F5;
}

.vis-huge {
    font-size: 30px;
    line-height: normal;
}

.panel-green {
    border-color: #A8A7A2;
}

.panel-green > .panel-heading {
    border-color: #A8A7A2;
    color: #fff;
    background-color: #A8A7A2;
}

.panel-green > a {
    color: #A8A7A2;
}

.panel-primary {
    border-color: #72706d;
}

.panel-primary > .panel-heading {
    border-color: #ffffff;
    color: #A8A7A2;
    background-color: #ffffff;
}

.panel-primary > a {
    color: #ffffff;
}

/*.panel-green > a:hover {
    color: #3d8b3d;
}*/

.panel-red {
    border-color: #87847F;
}

.panel-red > .panel-heading {
    border-color: #87847F;
    color: #fff;
    background-color: #87847F;
}

.panel-red > a {
    color: #87847F;
}

/*.panel-red > a:hover {
    color: #b52b27;
}*/

.panel-yellow {
    border-color: #c4c3be;
}

.panel-yellow > .panel-heading {
    border-color: #c4c3be;
    color: #fff;
    background-color: #c4c3be;
}

.panel-yellow > a {
    color: #c4c3be;
}

/*.panel-yellow > a:hover {
    color: #df8a13;
}*/

.vis-chart-container{
  background-color: #F5F5F5;
  padding: 20px;
  margin: 30px;
}

.vis-bubble-container{
  background-color: #F5F5F5;
  padding: 50px;
  margin: 0px 30px 0px 30px;
}

.vis-chart-container-beside{
  background-color: #F5F5F5;
  padding: 20px;
  padding-bottom: 10px;
  margin: 30px;
}

/*.vis-chart-container-r{
  background-color: #F5F5F5;
  padding: 20px;
  padding-bottom: 10px;
  margin: 30px 30px 30px 30px;
}*/


.dropdown-text{
  text-transform: lowercase;
}

.chart-button{
  margin-top: 10px;
}

/*====================*/
/*======charts========*/

/*#chart-container{
  padding: 20px;
  
}*/

/*for sample HTML chart*/
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

/*========================*/
/*=========journeys=======*/

#middle{
  background-color: #FFFFFF;

}

/*hidden by default - shown via accordionManager script*/
.accordion-panel{
  display: none;
}

/*hiding the journey number*/
.panel-title .panel-title-text .accordion-title{
  /*display: none;*/
  font-size: 0%
}

/*Accordion Stuff*/
.panel-title .panel-title-text>p{
  margin-top: 17px;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  line-height: 80%;
  color: grey;
}

/*overview image in panel title*/
.panel-title .panel-title-map>img{
  /*This value should be the same as the panel-title-expand height*/
  width: 130px;
  /*position: absolute;*/
  /*right: 0px;*/
}

/*plus-minus symbol in panel title*/
/*.panel-title .panel-title-expand{
  background-color: white;
}*/

/*vis pills*/
.panel{
  border-radius: 0;
}
/*vis pills*/
.panel-heading{
  border-radius: 0;
}
.panel-body p{
  font-size: 13px;
  color: grey;
}

/*main panel body*/
.panel-body{
  background-color: #fcfcfc;
}

/*Manages vertical centralisation of symbol*/
.panel-title-expand {
  /*This value shoudl be the same as the static map width*/
   height: 130px;
   position: relative
 }
/*Manages vertical centralisation of symbol*/
.expand-symbol {
   margin: 0;
   position: absolute;
   top: 40%;
   transform: translate(0, -50%);
   /*need this one to correct issue with symbol rotation (it moved without this)*/
   transform: rotate(0deg);
   color: grey;
 }

/*Override bootstrap default panel settings*/
 .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}

.journey-social-holder{
  margin-bottom: 30px
}

.journey-social-holder p{
  margin-top: 3px;
  margin-bottom: 0px;
  margin-right: 10px;
  float: right;
  color: grey;
}

#loading-spinner{
  display: none;
}

#scroll-message{
  color: grey;
  /*display: none;*/
}

/*.twitter-share-button{
  float: right;
}

.twitter-share-button img{
 width: 20px;
 height: 20px;
 margin-right: 5px;
}*/

/*========================*/
/*=========index and about=======*/

.symbol-sections{
  margin-top: 30px;
  color: grey;
}

.bottom-text-title{
  color: grey;
  text-transform: lowercase;
}

.bottom-text-body{
  color: grey;
  /*text-transform: lowercase;*/
}

#column-med-padding{
  padding: 30px 30px 20px 30px;
}

#top-about{
  background-image: url(../img/Car02Bright.png);
  background-size: cover;
  /*height: 500px;*/
  color: white;
  margin: 30px;
}


#top-about.jumbotron p{
  font-size: 16px;
  /*text-transform: lowercase;*/
}


#top-index{
  background-image: url(../img/Car02Bright.png);
  background-size: cover;
  height: 500px;
  color: white;
  margin: 30px;
}

#bottom{
  background-color: #F5F5F5;
  margin: 30px;
}

