/*=============================*/
/*===== Main Elements==========*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /* Padding top for navbar*/
  margin-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Biryani', sans-serif !important;
  letter-spacing: 2px;
}

 .main {
  padding: 0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.main .page-header {
  margin-top: 0;
}


.jumbotron{
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 0 !important;
  /*Trying to stop text overflowing*/
  overflow: auto;
}

/* Centralises text horizontally */
.centralised-text{
  text-align:center;
  margin-left: 0;
}

#column-med-padding{
  padding-left: 30px;
  padding-right: 30px;
}

.jumbotron .info-text{
  font-size: 90%;
  padding-top: 10px;
}

#no-margin-container{
  margin-left: 0;
  margin-right: 0;
}

#top{
  background-image: url(img/Car02Bright.png);
  background-size: cover;
  height: 500px;
  color: white;
  margin: 30px;
}

#middle{
  background-color: #FFFFFF;

}

#bottom{
  background-color: #F5F5F5;
  margin: 30px;
}

/*
 * Global add-ons
 */

 .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*=============================*/
/*===== Navbar ================*/

.navbar{
  background-color: grey;
 /*background-color: #222930;*/
}
/* Navbar links */
.navbar .nav > li > a {
    color: #E9E9E9;
    font-size: 90%;
}

.navbar .navbar-brand {
   color: #E9E9E9;
}

.navbar .navbar-brand:hover {
  color: lightblue;
}

.navbar .nav > li > a:hover {
    color: lightblue;
}

/*Hide default border to remove 1px line */
 .navbar-fixed-top {
  border: 0;
}
/*Manage section saying recent journeys*/
#navbar-recent{
  background-color: red;
  display: none;
}
@media (min-width: 768px) {
  #navbar-recent {
    display: block;
    padding: 20px;
    background-color: #f5f5f5;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
  }
}

/*=============================*/
/*===== Footer ================*/

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: grey;
}

#footer-logo{
  margin-top: 15px;
  width: 100px;
  float: right;
}

#footer-container{
  margin-right: 10px;
}

#footer-text{
  margin-top: 17px;
  color: lightgrey;
  float: right;
  font-size: 80%;
  text-align: right;
  padding-right: 20px;

}

#footer-text >a{
color: lightgrey;
}

/*=============================*/
/*===== Sidebar ===============*/

 /* Hide for mobile, show later */
 .sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: grey;
  margin-bottom: 0;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*Change colour of sidebar on hover or click*/
.nav>li>a:focus,
.nav>li>a:hover{
  background-color: lightgrey;
}

/*styling divider lines between entries*/
.nav-sidebar > hr{
  margin: 0;
  margin-bottom: 10px;
  background-color: lightgrey;
  height: 1px;
}

/*resize faecbook plugin dynamically*/
/*.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}*/

/*==================================*/
/*==========Visualisations==========*/

/*date button*/
#date-select{
  font-size: 90%;
  margin-bottom: 10px;
}

/*text in the dropdown*/
.dropdown-menu > li > a{
 font-size: 90%;
}

.pill-holder{
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: lightgrey;
}

.vis-huge {
    font-size: 30px;
    line-height: normal;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.fa

/*====================*/
/*======charts========*/

#chart-container{
  padding: 20px;
  
}

/*for sample HTML chart*/
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

/*========================*/
/*=========journeys=======*/
/*hidden by default - shown via accordionManager script*/
.accordion-panel{
  display: none;
}

/*hiding the journey number*/
.panel-title .panel-title-text .accordion-title{
  display: none;
}

/*Accordion Stuff*/
.panel-title .panel-title-text>p{
  margin-top: 25px;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  line-height: 80%;
  color: grey;
}

/*overview image in panel title*/
.panel-title .panel-title-map>img{
  /*This value should be the same as the panel-title-expand height*/
  width: 130px;
  /*position: absolute;*/
  /*right: 0px;*/
}

/*plus-minus symbol in panel title*/
/*.panel-title .panel-title-expand{
  background-color: white;
}*/

.panel-body p{
  font-size: 13px;
}

/*main panel body*/
.panel-body{
  background-color: #fcfcfc;
}

/*Manages vertical centralisation of symbol*/
.panel-title-expand {
  /*This value shoudl be the same as the static map width*/
   height: 130px;
   position: relative
 }
/*Manages vertical centralisation of symbol*/
.expand-symbol {
   margin: 0;
   position: absolute;
   top: 40%;
   transform: translate(0, -50%);
   /*need this one to correct issue with symbol rotation (it moved without this)*/
   transform: rotate(0deg);
   color: grey;
 }

/*Override bootstrap default panel settings*/
 .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}

.journey-social-holder{
  margin-bottom: 30px
}

.journey-social-holder p{
  margin-top: 3px;
  margin-bottom: 0px;
  margin-right: 10px;
}

/*========================*/
/*=========index=======*/

.symbol-sections{
  margin-top: 30px;
  color: grey;
}

.index-title{
  color: grey;
  text-transform: lowercase;
}

.index-text{
  color: grey;
  text-transform: lowercase;
}