/*=============================*/
/*===== Main Elements==========*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /* Padding top for navbar*/
  margin-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Biryani', sans-serif !important;
}

 .main {
  padding: 0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.main .page-header {
  margin-top: 0;
}


.jumbotron{
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 0 !important;
  /*Trying to stop text overflowing*/
  overflow: auto;
}

/* Centralises text horizontally */
.centralised-text{
  text-align:center;
}


#top{
  background-image: url(img/Car02Bright.png);
  background-size: cover;
  height: 500px;
  color: white;
}

#middle{
  background-color: #FFFFFF;
}

#bottom{
  background-color: #C3D7DF;
}

/*
 * Global add-ons
 */

 .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*=============================*/
/*===== Navbar ================*/

.navbar{
  background-color: #222930;

}
/* Navbar links */
.navbar .nav > li > a {
    color: #E9E9E9;
}

/*Hide default border to remove 1px line */
 .navbar-fixed-top {
  border: 0;
}
/*Manage section saying recent journeys*/
#navbar-recent{
  background-color: red;
  display: none;
}
@media (min-width: 768px) {
  #navbar-recent {
    display: block;
    padding: 20px;
    background-color: #f5f5f5;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }
}

/*=============================*/
/*===== Footer ================*/

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: grey;
}

#footerLogo{
  margin-top: 15px;
  width: 100px;
  float: right;
}

#footer-container{
  margin-right: 10px;
}


/*=============================*/
/*===== Sidebar ===============*/

 /* Hide for mobile, show later */
 .sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: red;
  margin-bottom: 0;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}



/*Change colour of sidebar on hover or click*/
.nav>li>a:focus,
.nav>li>a:hover{
  background-color: lightgrey;
}

/*styling divider lines between entries*/
.nav-sidebar > hr{
  margin: 0;
  margin-bottom: 10px;
  background-color: lightgrey;
  height: 1px;
}