.jumbotron{
  background-color: #FFD464;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.large{
  font-size: 150%;

}

#squareChart{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#top{
  background-image: url(img/Car02Bright.png);
  background-size: cover;
  height: 500px;
}

#middle{
  background-color: #FFD464;
}

#bottom{
  background-color: #A6D8DE;
}

/* html, body and footer all for sticky footer*/

html {
  position: relative;
  min-height: 100%;
}

body {
/* Margin bottom by footer height */
margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}