.jumbotron{
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
}


.navbar{
  background-color: #222930;

}
/* Navbar links */
.navbar .nav > li > a {
    color: #E9E9E9;
}

.large{
  font-size: 150%;

}

#squareChart{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#top{
  background-image: url(img/Car02Bright.png);
  background-size: cover;
  height: 500px;
}

#middle{
  background-color: #a4c5db;
}

#bottom{
  background-color: #C3D7DF;
}

/* html, body and footer all for sticky footer*/

html {
  position: relative;
  min-height: 100%;
}

body {
/* Margin bottom by footer height */
margin-bottom: 60px;
font-family: 'Biryani', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: grey;
}

#footerLogo{
  margin-top: 15px;
  width: 100px;
  margin-left:auto;
}

.centreBlockText{
  position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centralisedText{
  text-align:center;
}

.infoText{
  margin-top: 10px;
}

#middle .row p {
    font-size: 125%
}

